.card {
    width: 17em;
    height: 100%;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
#grokOpenModalBtn{
    width: 250px;
}

#grokOpenModalBtn1{
    width: 250px;}

.no-select {
    user-select: none; /* Prevent selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

/* Optional: Disable text selection on the entire page */
body {
    user-select: none;
}


.card span {
    font-weight: bold;
    color: #00fdd3;
    text-align: center;
    display: block;
    font-size: 1em;
}
.card label {
    font-weight: bold;
    color: #00fdd3;
    text-align: center;
    font-size: 1em;
}

.card .info {
    font-family: system-ui;
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 80%;
    margin: 1em;
}


.info{
    text-align: center;
    /*filter: blur(3px);*/
}

/*#hi{
    filter: blur(0px);

}*/


.card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card a {
    color: white;
    transition: .4s ease-in-out;
}

.card a:hover {
    color: #00fdd3;
}

.link {
    font-family: 'Quicksand', Helvetica, Century Gothic, sans-serif !important;
    text-decoration: none;
    text-shadow: none;
    font-weight: 700 !important;
    font-size: 14px !important;
    background: black;
    display: inline-block;
    align-items: center;
    
   
    
}

.card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    width: 100%;
    transition: .4s ease-in-out;
    margin-top:1rem; 
    background:#00fdd3; 
    color:#000; 
    border:none; 
    border-radius:6px;  
    font-weight:bold; 
    cursor:pointer;
}



